*{
    margin: 0px;
    padding: 0px;
}

.container{
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 'header header header header header header header header header header header header'
                            'aside aside aside aside aside aside aside aside aside aside aside aside'  
                            'sec sec sec sec sec sec sec sec sec sec sec sec' 
                            'footer footer footer footer footer footer footer footer footer footer footer footer'
}

.header{
    grid-area: header;
}

.header img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 80px;
  padding-bottom: 25px;
}

.aside{
    grid-area: aside;
    position: relative;
}
.aside a img{
    width: 100%;
    height: 400px;
}

.image-text{
    width: 70%;
    color: yellow;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
    transform: 3s;
    text-align: center;
}

.image-text h1{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: bold;
}

.text-box{
    padding: 25px;  
    text-align: center;
}

.text-box h2{
    font-size: 40px;
    
}

.text-box p{
    font-size: 20px;
    padding: 20px;
}

.shop{
    display: inline-block;
    text-decoration: none;   
    padding: 10px 15px;
    font-size: 30px;
    position: relative;
    cursor: pointer;
    color: rgb(244, 241, 241);
    background-color: #f5a628;
}

.shop:hover{
    border: 1px solid #f1a5a2;
    background: #f19b98;
    transition: 3s;
}

.section{
    grid-area: sec;
    display: flex;
    align-items: center;
    background-color: #fbb74b;
    
}

.text-box1{
    float: left;
    padding: 50px;
    text-align: center;
}

.text-box1 h3{
    font-size: 30px;
    
}

.text-box1 p{
    font-size: 20px;
    
}

.buy{
    display: inline-block;
    text-decoration: none;   
    padding: 10px 25px;
    font-size: 60px;
    position: relative;
    cursor: pointer;
    color: aqua;
    background-color: rgb(250, 250, 248);
}

.buy:hover{
    border: 1px solid #bea1a0;
    background: #3dccf4;
    transition: 2s;
}









.footer{
    grid-area: footer;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 40px;
}

.footer h4{
    font-size: 40px;
}

.footer a img{
    width: 80px;
    height: 150px;
    padding: 20px;
}

.footer p{
    font-size: 20px;
}